body {
  font-family: "Oswald";
  color: darkblue;
  margin-top: 10px; margin-bottom: 10px;
  margin-left: 50px; margin-right: 50px;
  background-color: ivory;
}

h1, h2, h3 {
  font-fammily: "Open Sans";
}

.browser {
  position:relative;
  width: 300px;
}

.browser > img {
  width: 100px;
  float: left;
  padding-right: 10px;
}

.nav {
  width: 100%;
}

.nav_data {
  text-align: center;
}

.browser_table > td {
  vertical-align: top;
}