body {
  font-family: "Open Sans";
  color: darkblue;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

h1, h2, h3 {
  font-family: "Oswald";
}

table {
  width:100%;
  position:relative;
}

td {
  text-align: center;
}

.browser {
  position: relative;
  width: 300px;
}

.image img {
  width: 100px;
  float: left;
  padding-right: 10px;
}
.browser_info {
  table-layout: fixed;
}